{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingkey := promptStringOnce . "signingkey" "PGP signing key" -}}

[data]
    email = {{ $email | quote }}
    signingkey = {{ $signingkey | quote }}
