{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingKey := promptStringOnce . "signingKey" "PGP signing key" -}}

[data]
    email = {{ $email | quote }}
    signingKey = {{ $signingKey | quote }}
