[user]
	name = Takeya
	email = takeya0x86@gmail.com
[color]
	ui = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	editor = atom --wait
[credential]
	helper = osxkeychain
[push]
	default = simple
