[user]
	name = Takeya
	email = takeya0x86@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	editor = code --wait
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[credential]
	helper = osxkeychain
[push]
	default = simple
