[user]
	name = Takeshi Kishi
	email = {{ .email }}
{{- if eq .working "true" }}
[url "git@github.com:"]
  insteadOf = https://github.com/
{{- end }}
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
