[user]
	name = Takeshi Kishi
	email = {{ .email }}
	signingKey = {{ .signingKey }}
[init]
	defaultBranch = main
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	gpgSign = true
[tag]
	gpgSign = true
